.header {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: center;
    padding: 40px;
    border-bottom: 2px solid #7FD858; /* 구분 선 색상 */
    position: relative;
    background-color: white; /* 배경색 흰색으로 설정 */
}