body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}
.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
h2 {
    margin-bottom: 20px;
    color: #343a40;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #495057;
    user-select: none; /* 드래그 방지 */
}
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    color: #495057;
}
select {
    height: 45px; /* 성별 선택 창 높이 조정 */
    font-size: 16px; /* 폰트 크기 조정 */
    user-select: none; /* 드래그 방지 */
}
.error {
    color: red;
    margin-bottom: 20px;
    display: none; /* 처음에는 보이지 않도록 설정 */
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }
}